html{
	height: 100%;
    margin: 0;
    padding: 0;
}
body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #c8c8c8;
}
header {
	text-align:center;
	background-color: #505050;
}
p {
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
#main-wrapper{
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 150px;
	position: relative;
}
#main-content {
	padding: 30px;
	font-family: "Courier New";
	font-size: 32px;
	color: black;
}

#footnotes {
	font-family: "Ariel";
	color: white;
	font-size: 24px;
	text-align: center;
	background-color: #050505;
	margin-top: 30px;
}

footer {
	height: 150px;
	background-color: #050505;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}