html{
	height: 100%;
    margin: 0;
    padding: 0;
}
body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #c8c8c8;
}
header {
	text-align:center;
	background-color: #505050;
}
p {
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	max-width: 1000px;
	text-align:center;
	margin: 0 auto;
}
#main-wrapper{
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 150px;
	position: relative;
}
#main-content {
	padding: 50px;
	font-family: "Courier New";
	font-size: 32px;
	color: black;
}

button {
    background-color: #101010;
    border: 1px solid #1ae7a6;
    color: #1ae7a6;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	margin:20px
}

.contact-button {
	margin-top: 48px;
	margin-left: 30px;
	font-size: 24px;
}

.contact-button a {
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid #1ae7a6;
  color: #1ae7a6;
  position:relative;
  background-color: #101010;

}

.contact-button a:active {
  top: 2px;
}

footer {
	height: 150px;
	background-color: #303030;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #101010;
	background-color: #c8c8c8;
    width: 80%; /* Could be more or less, depending on screen size */
	max-width: 500px
}

/* The Close Button */
.close {
    color: #101010;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #1ae7a6;
    text-decoration: none;
    cursor: pointer;
}

label {
	display:inline-block;
	width: 100px;
	text-align:right;
	padding-right: 20px;
	vertical-align:top;
}

#name {
	margin-bottom: 20px;
}

#email {
	margin-bottom: 20px;
}

#msg {
	margin-bottom: 20px;
	resize: none;
}